* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #000000;
  transition: background .8s linear;
  /* animation: background 1s ease; */
}

button {
  outline: none;
  cursor: pointer;
  color: inherit;
}

body > * {
  background-color: rgba(255, 255, 255, .55);
  margin-bottom: 10px;
}

.time {
  font-size: 8rem;
  width: 32rem;
  cursor: pointer;
  position: relative;
}

.time > span:nth-child(3) {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 2rem;
  margin-left: .4rem;
}

.date {
  font-size: 2rem;
}

.day {
  font-size: 4rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
}

.name,
.focus {
  display: inline-block;
  min-width: 206px;
}

.bg-nav {
  position: absolute;
  bottom: 0;
  background-color: transparent;
}

.bg-nav button {
  padding: 10px 40px;
  background-color: rgba(255, 255, 255, .35);
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}